<div class="container-fluid">
	<h1> Welcome To SongBook</h1>
		<h4> A Hub To Share, Get Feedback, And Review Your Songs With Other 		Songwriters
		</h4>
	<div class="row">
		<div class="col-md-6" style="background-color:#FFFFFF;">
			<h2>New to SongBook?</h2>
			<h3>Sign Up</h3>

			<%= form_for @user do |f| %>

				<div>
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
				
				<div>
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>

				<div>
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>

				<div>
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation %>
				</div>

				<div>
					<%= f.submit %>
				</div>

			<% end %>
		</div>
	</div>

