<div class="container-fluid">
	<div style="text-align:center" class="title">
		<h1> Welcome To SongBook</h1>
	</div>
	<div class="icon text-center">
		<span style="font-size: 100px;" class="glyphicon glyphicon-music"></span><span style="font-size: 100px;" class="glyphicon glyphicon-book"></span>
	</div>
		<h4 style="text-align:center"> A Hub To Share, Get Feedback, And Review Your Songs With Other Songwriters
		</h4>
	<div class="row">
		<div style="text-align:center" class="col-md-12" style="background-color:#FFFFFF;">
			<h2>New to SongBook?</h2>
			<h3>Sign Up</h3>

			<%= form_for @user do |f| %>

				<div>
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
				
				<div>
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>

				<div>
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>

				<div>
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation %>
				</div>

				<div>
					<%= f.submit %>
				</div>

			<% end %>
		</div>
	</div>

