<h1>Edit Your Song</h1>

<%= form_for @song do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :writer %>
        <%= f.text_field :writer %>
    </div>

    <div>
        <%= f.label :genre %>
        <%= f.text_field :genre %>
          
    </div>

    <div>
        <%= f.label :track %>
        <%= f.text_field :track %>
    </div>

    <%= f.submit "Submit Your Changes" %>

<% end %>

<%= link_to "Back to Your Song", song_path , class: "mybtn" %>