<h1>SongBook Library</h1>

<table class="table table-hover table table-bordered">
	
	<%#= song.inspect %>
	<%# raise song.inspect %>
		<tr>
			<th>Song Name</th>
			<th>Songwriter</th>
			<th>Genre</th>
			<th>Track</th>
			<th>Song ID</th>
		</tr>
		<% @songs.each do |song| %>
		<tr>
			<td><%= link_to song.name, song_path(song) %></td> 
			<td><%= link_to song.writer, user_path(song.user) %></td> 
			<td><%= song.genre %></td>
			<td><audio controls><source src="<%= song.file.to_s.gsub! '"', '' %>" type="audio/mpeg"></audio></td>
			<td><%= song.id %></td>
			<!-- <td><%#= post.comments.count %></td> -->
		</tr>

	<% end %>
</table>
<br>
