<!DOCTYPE html>
<html>
<head>
  <title>SongBookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="http://localhost:3000/users/new">SongBook</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:3000/login">Home</a></li>
        <li><a href="http://localhost:3000/users/1">Profile</a></li>
        <li><a href="http://localhost:3000/songs">Song Library</a></li> 
        <li><a href="http://localhost:3000/users">Songwriters</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:3000/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="http://localhost:3000/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<% if current_user %>
	Logged in as: <%= current_user.name %> 
	<%= link_to "Log Out", logout_path, method: :delete %>
<% else %>
	<%= link_to "Log In", login_path %>
	<%= link_to "Sign Up", users_new_path %>
<% end %>

<%= yield %>

<% console %>

</body>
</html>


